@media (prefers-reduced-motion: no-preference) {
  $base: 10;

  @for $i from 0 through $base {
    .fadeInText_#{$i} {
      display: inline-block;
      animation: move-in-#{$i} 100ms ease-out forwards;
      animation-delay: ($i * 200ms);

      // initial state
      transform: translateY(1.5em);
      opacity: 0;
    }

    @keyframes move-in-#{$i} {
      from {
        transform: translateY(1.5em);
        opacity: 0;
      }


      to {
        transform: translateY(0em);
        opacity: 1;
      }
    }
  }
}

.bigText {
  font-size: 2rem;
}

.emojiCheckMarkList {
  list-style-type: none;
  padding-left: 2em; // approximately size of bullet point
  display: grid;
  grid-template-rows: auto;
  gap: 6px;
}

.emojiCheckMarkList > li::before {
  position: relative;
  left: -1em;
  content: "✅";
  width: 0px;
}

.emojiCheckMarkList > li {
  text-indent: -1em;
}

@media (prefers-reduced-motion: no-preference) {
  .logoAnimated {
    // HACK
    animation: move-in-0 100ms ease-out forwards, move-bg 3.5s linear infinite;
  }
  @keyframes move-bg {
    to {
      background-position: var(--bg-size) 0;
    }
  }
}

.logoAnimated {
  --bg-size: 400%;
  font-size: clamp(2rem, 25vmin, 4rem);
  font-family: "Helvetica";
  background: linear-gradient(
                90deg,
                var(--color-one),
                var(--color-one-accent),
                var(--color-one)
              ) 0 0 / var(--bg-size) 100%;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  filter: drop-shadow(0 0 1px var(--color-one));
}

a.logoAnimated {
  background-clip: initial;
  border-radius: 10px;
  padding: 12px;
  color: var(--body);
  border: none;
  font-weight: bold;
  background-color: linear-gradient(
                90deg,
                var(--color-one),
                var(--color-one-accent),
                var(--color-one)
              ) 0 0 / var(--bg-size) 100%;
}

@keyframes pulsate {
  0% {
    transform: scale(1.0);
  }


  50% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}

.blurbContainer {
  position: relative;
  margin-bottom: 30px;
}

.blurbBackground {
  position: absolute;
  height: 50vh;
  width: 50vh;

  --color-one: hsl(15 90% 55%);
  --color-two: hsl(40 95% 55%);
  animation: pulsate 3s ease-in-out infinite;

  background: radial-gradient(
    //ellipse at top,
    circle at center,
    rgba(130, 130, 180, 0.35) 0%,
    transparent 60%,
  );
} 

 
.sampleGrid {
  display: grid;

  @media only screen {
    @media (max-width: 800px) {
      grid-template-columns: 1fr;
    }
    @media (min-width: 800px) {
      gap: 1in 1in;
      grid-template-rows: auto auto auto;
      grid-template-columns: 1fr 1fr;
      grid-template-areas:
        "a1 a2"
        "a4 a3"
        "a5 a6";
      @for $i from 1 through 6 {
        > :nth-child(#{$i}) {
          grid-area: a#{$i};
        }
      }
    }
  }

  > .blurb {
    padding: 10px;
  }
}

.logoImage {
  width: 2em;
  height: 2em;
  fill: white;
  stroke: white;
}

.sampleCanvas {
  width: 100%;
  height: 250px;
  margin: 30px 0;
  border-radius: 5px;
  border: 1px solid black;
  box-shadow: 0 0 10px 5px rgba(255, 255, 255, 0.2);
  cursor: pointer;
  
  > canvas {
    width: 100%;
    height: 250px;
    border-radius: 5px;
  }
}

.execContainer {
  height: 30px;
  position: absolute;
  bottom: 10px;
  right: 10px;
  border-radius: 5px;
  padding: 2px;
  border: 1px solid white;

  &:hover {
    background-color: rgba(255, 255, 255, 0.2);
  }
}

.playButton {
  fill: rgb(135, 255, 135);
  stroke: rgb(135, 255, 135);
}

.canvasPopover {
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 100ms ease-in-out;
  border: black;
  background-color: rgb(35, 35, 35);
  border-radius: 5px;
  box-shadow: 0 0 10px 3px rgba(255, 255, 255, 0.2);
  position: absolute;
  bottom: 10px;
  //height: 100px;
  --width: 100px;
  width: var(--width);
  left: calc(50% - var(--width)/2);
}
