/* FIXME: merge with app shared.global.css */

:root {
  --background-rgb:  18, 18, 24;
  --body-rgb:        239, 239, 239;
  --hover-rgb:       255, 255, 255;

  --hover:           rgb(var(--hover-rgb));
  --body:            rgb(var(--body-rgb));
  --background:      rgb(var(--background-rgb));

  --scrollbar-width: 4px;
}

.split {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hoverable {
  cursor: pointer;
}

.draggable {
  cursor: grab;
}

.hoverable:hover {
  color: var(--hover);
  fill: var(--hover);
  stroke: var(--hover);
  border-color: var(--hover);
  background-color: var(--hover);
}

::-webkit-scrollbar {
  width: var(--scrollbar-width);
}

::-webkit-scrollbar-track {
  background: rgba(128, 128, 128, 0.1);
}

::-webkit-scrollbar-thumb {
  background: rgba(128, 128, 128, 0.8);
  border-radius: 2px;
}

::-webkit-scrollbar:hover {
  width: var(--scrollbar-width); /* doesn't work on chromium */
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(256, 100, 10, 0.8);
}
