.itue-doc-root {
  background-color: white;
  color: black;
  font-family: 'Times New Roman', Times, serif;
  padding: 12px;
}

.itue-doc-root h1,
.itue-doc-root h2,
.itue-doc-root h3,
.itue-doc-root h4,
.itue-doc-root h5,
.itue-doc-root h6 {
  font-weight: bold;
}
