// FIXME: use shared css for this common thing
.separate {
  display: flex;
  align-items: center;
  justify-content: space-between;
  
  .left, .right {
    display: flex;

    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;

    margin: 0 20px;
    padding: 15px 20px;
    // HACK: spaced items without left buffer
    gap: 20px;
  }
}

.navLink {
  &, &:link, &:visited {
    // TODO: drop-shadow filter seems to transition slowly?
    filter: drop-shadow(0 0 0 white);
    transition: all 10ms ease;
    font-size: 1rem;
    color: var(--body);
    text-decoration: initial;
    vertical-align: middle;
  }

  &:hover {
    filter: drop-shadow(0 0 5px white);
  }
}

.logo {
  display: flex;
  flex-direction: row;
  gap: 11px;
  align-items: center;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 1.5rem !important;
  font-weight: 500 !important;

  > img {
    width: 40px;
  }
}

.subButton {
  padding: 5px;
  border-radius: 6px;
  border: 0;
  color: #ffffff;
  font-weight: bold;
  background-color: var(--color-one);
  cursor: pointer;
}

.subscribeModalContent {
  padding: 5px;
  display: flex;
  gap: 15px;
}

.subInput {
  border-radius: 5px;
  border: 0;
}
