main {
  @media only screen {
    @media (max-width: 700px) {
      padding: 12px;
    }
    @media (min-width: 700px) {
      padding: 22px calc((100% - 10.5in)/2);
    }
  }
}

main > * {
  margin-left: calc(var(--horiz-padding-eqt));
  margin-right: calc(var(--horiz-padding-eqt));
}

:global(.full-size) {
  position: relative;
  width: calc(100vw - var(--scrollbar-width, 0px));
  margin: 0.25in 0;
  padding: 20px 0;
}

html, body {
  margin: 0;
  font-family: "Quicksand", "Helvetica", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background);
  font-size: 14pt;
  color: var(--body);
  min-height: 100vh;
}

footer {
  width: calc(100vw - var(--scrollbar-width, 0px));
  text-align: center;
  padding: 10px 0;
  box-shadow: 0 0 10px 3px rgba(255, 255, 255, 0.2);
}

header {
  width: 100%;
  position: sticky;
  box-shadow: 0 0 10px 3px rgba(255, 255, 255, 0.2);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a {
  color: #49a9f9;
  &:visited {
    color: #69a9f9;
  }
  &:active {
    color: #b9b999;
  }
}

h1 {
  font-size: 1.4em;
  font-weight: bold;
}

h3 {
  font-size: 1em;
  font-style: italic;
  font-weight: initial;
}

h1 + h3 {
  margin-top: -8px;
}

hr {
  color: rgba(var(--body-rgb), 0.3);
}

.layoutContainer {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.layoutMiddle {
  // FIXME: maybe consolidate with 'main' query
  @media only screen {
    @media (max-width: 700px) {
      padding-left: 16px;
      padding-right: 16px;
    }
    @media (min-width: 700px) {
      padding-left: 0.5in;
      padding-right: 0.5in;
    }
  }

  padding-top: 0.5in;
  background-image: url("../images/grid-cross.png");
  background-repeat: repeat;
  background-position-y: 8px;
  //background-attachment: fixed;
  $headerHeight: 72px;
  $footerMaxHeight: 120px;
  //min-height: calc(100vh - $headerHeight - $footerMaxHeight);
}

.layoutContainer > :not(:last-child):not(:first-child) {
  flex-grow: 2;
}

.linkColumn {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  a {
    text-decoration: none;
    color: var(--body);
  }

  a:hover {
    text-decoration: underline;
  }
}

footer {
  position: relative;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

.footerLinks {
  display: flex;
  justify-content: space-around;
  gap: 12px;
  margin-bottom: 12px;
  max-width: 700px;
  width: 50vw;
}
